<div class="container">

<div class="carnet" id="carnet">
    <div class="head">
            <img class="logo" src="../../assets/logo1.png" alt="" srcset="">
            <div class="texto">
                <p class="titulo">DIRECCIÓN GENERAL DE SANIDAD MILITAR</p>
                <p class="eslogan">Un equipo humano al servicio de la salud</p>
                
            </div>
    </div>

    <div class="body">
        
        <div class="pic">
        
            <img class="foto" src="https://img.freepik.com/foto-gratis/retrato-hombre-blanco-aislado_53876-40306.jpg?size=626&ext=jpg&ga=GA1.2.1916928074.1629763200" alt="" srcset="">
        
        </div>

        <div class="info">
        <div class="datos">
            <ul>Categoria:
                <li>Cotizante</li>
            </ul>

            <ul>Nombres:
                <li>Juan Pablo</li>
            </ul>
            <ul>Apellidos:
                <li>Pérez Zambrano</li>
            </ul>
            <ul>Documento:
                <li>C.C</li>
            </ul>
           
        </div>

        <div class="datos2">
            <ul>No. Documento:
                <li>12546984</li>
            </ul>
            <ul>Fecha de nacimiento:
                <li>25-05-1993</li>
            </ul>
            <ul>Fecha de expedición:
                <li>07-01-2015</li>
            </ul>
        </div>
        <div class="qr">
            <img src="../../assets/CelularFinal.JPG" alt="" srcset="">
        </div>

        </div>
    </div>

</div>

<div class="boton">

    <button class="btn" (click)="PDF()">Descargar</button>

</div>

</div>

